.container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.table {
    width: 100%;
}

.table td, .table th {
    border-bottom: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
  }