.productContainer {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-size: 14px;
}

.productContainer h1 {
    margin: 2rem 0;
}

.active {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
}

.searchInput {
    display: flex;
}

.input {
    margin-bottom: 10px;
}